* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 650px;
  width: 1370px;
  margin: 0 auto;
  font-family: "Andada Pro", serif;
  font-size: large;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}

header {
  height: 55px;
  width: 100%;
  background-color: rgba(238, 238, 238, 255);
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

h1 {
  color: rgba(201, 29, 29, 255);
  text-align: center;
  margin: 0 auto;
  margin-top: 7px;
}

h1:hover {
  color: darkblue;
}

.big_picture {
  width: 570px;
  height: 310px;
  margin-top: 88px;
  margin-left: 56px;
}

.big_picture:hover {
  transform: scale(1.2);
}

.small_picture {
  width: 120px;
  height: 80px;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.small_picture:hover {
  animation: rotating 4s linear infinite;
}

.block_pictures {
  width: 570px;
  margin-top: 55px;
  margin-left: 56px;
  display: flex;
  justify-content: space-between;
}

.right_block {
  width: 480px;
  height: 500px;

  margin-left: 135px;
  margin-top: 88px;
}

h2 {
  border-bottom: 3px solid red;
}

p {
  margin-top: 10px;
  text-align: justify;
}
